@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "TTInterfaces-Regular";
    src: url(./fonts/TTInterfaces-Regular.ttf);
  }

  @font-face {
    font-family: "TTInterfaces-Italic";
    src: url(./fonts/TTInterfaces-Italic.ttf);
  }

  @font-face {
    font-family: "TTInterfaces-Demi";
    src: url(./fonts/TTInterfaces-DemiBold.ttf);
  }

  @font-face {
    font-family: "TTInterfaces-Bold";
    src: url(./fonts/TTInterfaces-Bold.ttf);
  }
}
